@import "tailwindcss";

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer base {
  button {
    cursor: pointer;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
